@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&family=Unbounded:wght@200..900&display=swap');


a {
    text-decoration: none;
    color: inherit; 
}

:root{
    background-color: #131316;/*цвет фона*/
    /*патерн фон*/
    background-image: radial-gradient(
        circle,                 
        #3B3B3B 1px,            
        transparent 1px         
    );
    background-size: 24px 24px;
    /**/
}
/* Кнопки */
.button_primary {
    background-color: #F0F0E7;
    color: #131316;
    padding: 14px 20px;
    font-family: 'Unbounded', sans-serif;
    font-size: 16px;
    font-weight: bold;
    border-radius: 65px;
    cursor: pointer;
    display: inline-block;
    transition: all 0.3s ease;
}

.button_primary:hover {
    background-color: #5468FF;
    color: #F0F0E7;
}

.button_secondary{
    color: #F0F0E7;
    padding: 14px 24px;
    font-family: 'Unbounded', sans-serif;
    font-size: 14px;
    border: 1px solid #3B3B3B;
    border-radius: 25px;
}

.button_secondary:hover {
    border: 1px solid #F0F0E7;
}

.button_mark {
    display: inline-block;  /* или width: fit-content */
    width: fit-content;
    background-color: #131316;
    color: #868686;
    padding: 10px 20px;
    font-family: 'Onest', sans-serif;
    font-size: 14px;
    border: 1px solid #868686;
    border-radius: 57px;
}

.Photo_Badge {
    position: absolute;
    top: -11px;
    left: 50px;
    background-color: #5468FF;
    color: #F0F0E7;
    padding: 5px 16px;
    font-family: 'Onest', sans-serif;
    font-size: 11px;
    border-radius: 8px;

}

.button_case {
    display: flex;
    flex-direction: row;
    gap: 4px;
    color: #F0F0E7;
    padding: 4px 0px;
    font-family: 'Onest', sans-serif;
    font-weight: 700;
    font-size: 14px;
}

.button_case:hover {
    color: #5468FF;
}

/*Тексты*/
p {
    margin: 0;
}

.H1 {
    color: #F0F0E7;
    font-family: 'Unbounded', sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 61px;
}

.H1_1 {
    background-color: #5468FF20;
    color: #5468FF;
    padding: 0px 10px;
    border: 1px solid #5468FF90;
    font-family: 'Unbounded', sans-serif;
    font-weight: 700;
    font-size: 56px;
}

.H2B {
    color: #F0F0E7;
    font-family: 'Unbounded', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
}

.H3B{
    font-family: 'Onest', sans-serif;
    font-weight: 700;
    font-size: 23px;
    line-height: 20px;
}

.H6SB {
    font-family: 'Unbounded', sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
}

.H7M {
    font-family: 'Unbounded', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
}

.H10B {
    color: #131316;
    font-family: 'Unbounded', sans-serif;
    font-weight: 500;
    font-size: 60px;
    line-height: 74px;
}

.T90EB {
    color: #5468FF;
    font-family: 'Unbounded', sans-serif;
    font-weight: 800;
    font-size: 90px;
    line-height: 112px;
}

.T28SB {
    color: #F0F0E7;
    font-family: 'Unbounded', sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 44px;
}

.T23B {
    color: #131316;
    font-family: 'Unbounded', sans-serif;
    font-weight: 600;
    font-size: 23px;
    line-height: 20px;
}


.T20L {
    color: #868686;
    font-family: 'Onest', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

.T18EB {
    font-family: 'Unbounded', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 20px;
}

.T17R {
    color: #F0F0E7;
    font-family: 'Onest', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
}

.T16SB {
    font-family: 'Onest', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

.T14B {
    color: #F0F0E7;
    font-family: 'Unbounded', sans-serif;
    font-weight: 700;
    font-size: 14px;
}

.T14L {
    font-family: 'Onest', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

.T12R {
    color: #868686;
    font-family: 'Onest', sans-serif;
    font-weight: 400;
    font-size: 12px;
}

.T14T {
    font-family: 'Onest', sans-serif;
    font-weight: 100;
    font-size: 12px;
}

/*шапка блока*/
.cap {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.cap_text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.text_color1 {
    color: #F0F0E7;
}

.text_color2 {
    color: #868686;
}


/*Меню*/
.Header {
    position: sticky;
    top: 0;
    z-index: 100;
    font-family: 'Unbounded';
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #131316;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 5px 5px 5px 20px;
    border: 1px solid #3B3B3B;
    border-radius: 30px;
}

#Logo {
    color: #F0F0E7;
    font-family: 'Unbounded', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

nav {
    display: flex;
    gap: 44px;
}

.Header_nav {
    color: #868686;
    font-family: 'Onest', sans-serif;
    font-weight: 500;
    font-size: 14px;
}

/*HERO*/
#Hero {
    display: flex;
    align-items: center;
    gap: 42px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 72px 100px;
    min-height: calc(100vh - 100px);
}

.Hero_photo {
    position: relative;
    flex: 1;
    border: 1px solid #3B3B3B;
    border-radius: 36px;
}

.Hero_photo img {
    width: 100%;                /* фото растягивается на всю ширину */
    height: auto;               /* высота автоматическая */
    display: block;             /* убираем отступ снизу */
    aspect-ratio: 4/5;          /* соотношение сторон 4:5 */
    object-fit: cover;          /* фото не сплющится */
    z-index: 1;
    border-radius: 36px;
}

.HPhoto_overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 300px;           /* высота градиента */
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.7),  /* чёрный снизу (70% непрозрачности) */
        rgba(0, 0, 0, 0.3),  /* середина (30%) */
        transparent          /* сверху прозрачно */
    );
    z-index: 2;
    border-radius: 36px;
}

.hero_content {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.HPhoto_text {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: white;
    z-index: 3;
    gap: 4px;
}

.hero_text {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.Hero_Title {
    position: relative;
}

.send_badge {
    position: absolute;
    top: 118px;                 /* по у */
    right: 232px;               /* по х */
    background: #6C63FF;
    color: white;
    padding: 5px 16px;
    border-radius: 8px;
    font-size: 11px;
    white-space: nowrap;        
    font-family: 'Onest', sans-serif;
}

.Hero_buttons {
    display: flex;
    gap: 30px; 
}

/*БЕГУЩАЯ СТРОКА*/
.marquee{
    width: 100%;
    overflow: hidden;
    background-color: #5468FF;
    padding: 36px 28px;
}

.marquee_line{
    display: inline-flex;
    white-space: nowrap;
    animation: scroll 25s linear infinite;
}

.marquee_line:hover {
    animation-play-state: paused;
}

.TEXTmarquee_item{
    flex-shrink: 0;
    padding: 0 0px 0px 112px;
    color: #F0F0E7;
    font-family: 'Unbounded', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

@keyframes scroll {
    0% {
        transform: translateX(0); /* Начинаем с исходной позиции */
    }
    100% {
        /* Сдвигаем ленту ровно на 50% её ширины. 
           Поскольку вторая половина ленты — точная копия первой, 
           в этот момент она встанет ровно на место первой, и скачок будет незаметен. */
        transform: translateX(-50%); 
    }
}

/*УСЛУГИ*/
.services {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    max-width: 1240px;
    padding: 120px 100px 60px 100px;
    gap: 20px;
}

.services_text{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.services_card {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.White_card {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #F0F0E7;
    padding: 50px 50px;
    border-radius: 51px;
    gap: 28px;
}

.Photo_site {
    width: 100%;                /* фото растягивается на всю ширину */
    height: 296px;               
    display: block;             /* убираем отступ снизу */
    aspect-ratio: 4/5;          /* соотношение сторон 4:5 */
    object-fit: cover;
}

.services_site{
    color: #131316;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.services_three {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.services_two {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.services_brending {
    display: flex;
    flex-direction: column;
    
    background-color: #131316;
    color: #F0F0E7;
    padding: 120px 50px 50px 50px;
    border: 1px solid #3B3B3B;
    border-radius: 50px;
    gap: 5px;
}

.services_UIUX {
    display: flex;
    flex-direction: column;
    background-color: #F0F0E7;
    color: #131316;
    padding: 120px 50px 50px 50px;
    border-radius: 50px;
    gap: 5px;
}

.services_selling_materials {
    display: flex;
    flex-direction: column;
    background-color: #1E1E22;
    color: #F0F0E7;
    padding: 120px 320px 50px 50px;
    border-radius: 50px;
    gap: 5px;
}

/*ПОМОГИТЕ*/
.help {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    max-width: 1240px;
    padding: 60px 100px 60px 100px;
}

.help_container {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.help_name_text_content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.help_text_content {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.help_text_right {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-end;
}

.help_text_left {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.help_cards {
    display: flex;
    flex-direction: row;
    gap: 95px;
}

.help_card {
    display: flex;
    flex-direction: column;
    background-color: #F0F0E7;
    padding: 30px 30px 60px 30px;
    border-radius: 16px;
    gap: 10px;
}

.line{
    height: 1px;
    background-color: #131316;
}

.help_cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
}

.help_sta_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.help_sta_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/*КЕЙСЫ*/ 
.portfolio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    max-width: 1240px;
    padding: 60px 100px 60px 100px;
    gap: 80px;
}

.portfolio_header_text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 106px;
}

.portfolio_cards {
    display: flex;
    flex-direction: column;
    gap: 56px;
}

/*кейс 1*/
.portfolio_cards_one {
    display: flex;
    flex-direction: row;
    gap: 0px;
    border-radius: 51px;
}

.portfolio_cards_one img {
    border-radius: 51px 0px 0px 51px;
}

.portfolio_card_horizontal {
    display: flex;
    flex-direction: column;
    gap: 152px;
    background-color: #1E1E22;
    padding: 50px 168px 50px 64px;
    border-radius: 0 51px 51px 0;
}

.portfolio_card_info {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.portfolio_card_info_mark {
    display: flex;
    flex-direction: row;
    gap: 14px;
}

.portfolio_card_info_text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/*кейс 2.3*/
.portfolio_cards_two {
    display: flex;
    flex-direction: row;
    gap: 56px;
}

.portfolio_cards_two_one {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.portfolio_card_vertical {
    display: flex;
    flex-direction: column;
    gap: 36px;
    background-color: #1E1E22;
    border-radius: 0 0 51px 51px;
    padding: 24px 100px 50px 50px;
}

/*ПРОЦЕСС РАБОТЫ*/
.process {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    max-width: 1240px;
    padding: 60px 100px 60px 100px;
    gap: 80px;
}

.process_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    position: relative;
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
}

.row {
    display: grid;
    grid-template-columns: 1fr 74px 1fr;
    align-items: center;
    margin-bottom: 45px;
}

.center {
    display: flex;
    justify-content: center;
    position: relative;
}

.circle{
    width:34px;
    height:34px;

    border-radius:50%;
    background:#1E1E22;
    color: #F0F0E7;
    font-family: 'Unbounded', sans-serif;
    font-weight: 800;
    font-size: 18px;

    display:flex;
    justify-content:center;
    align-items:center;
}

.circle.active{

    background:#5468FF;
    color:#F0F0E7;

    transform:scale(1.12);
}

.timeline{

    position:absolute;

    top:70px;
    bottom:50px;

    left:50%;

    transform:translateX(-50%);

    width:4px;
}

.timeline_bg{

    position:absolute;

    inset:0;

    background:#1E1E22;
    border: 0.5px solid #3B3B3B;
    border-radius:20px;
}

.timeline_fill{

    position:absolute;

    top:0;
    left:0;

    width:100%;
    height:0%;

    background:#5468FF;
    border: 0.5px solid #5468FF;
    border-radius: 20px;
}

/*этапы процесса*/
.step_content_left {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 20px;
    background-color: #1E1E22;
    padding: 27px 46px 26px 36px;
    border-radius: 32px;
    text-align: end;
}

.step_content_right {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    background-color: #1E1E22;
    padding: 27px 46px 26px 36px;
    border-radius: 32px;
    text-align: start;
}


/*ПРИЧИНЫ ДОВЕРИЯ*/
.trust {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    max-width: 1240px;
    padding: 60px 100px 60px 100px;
    gap: 80px;
}

.trust_moment {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1240px;
    gap: 188px;
}

.trust_not_card {
    display: flex;
    flex-direction: column;
    color: #F0F0E7;
    gap: 32px;
}

.line2 {
    height: 1px;
    background-color: #F0F0E7;
}

.trust_not_card_text {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/*ВОПРОООСЫ*/
.FAQ {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    max-width: 1240px;
    padding: 60px 100px 60px 100px;
    gap: 80px;
}

.faq_full {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    position: relative;
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
}

.button_faq_q {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background: none;
    border: none;
    padding: 0 0 11px 0;
    color: #F0F0E7;
    border-bottom: 1px solid #F0F0E7;
}

.faq_icon {
    flex-shrink: 0;
    transition: transform .25s ease;
}

.faq_a {
    max-height: 0;
    overflow: hidden;
    transition: max-height .25s ease;
    color: #F0F0E7;
    padding: 10px 0 0 0;
}

/*ОТЗЫВЫ*/
.reviews {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    max-width: 1240px;
    padding: 60px 100px 60px 100px;
    gap: 80px;
}

.review_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    position: relative;
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
}

.reviews_full {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1240px;
}

.review_one {
    position:relative;
    display:inline-block;
    padding: 40px 30px 30px 30px;
    background-color: #131316;
    border: 1px solid #3B3B3B;
    border-radius: 17px;
    transition:.35s ease;
}

.review_one:hover{
    transform:translateY(-60px);
}

.fase {
    position:absolute;

    left:-22px;
    top:-22px;

    width: 44px;
    height: 44px;
    padding: 10px;
    background-color: #5468FF;
    border-radius: 74px 74px 74px 14px;
}

.fase img {
    border-radius: 67px;
    width:100%;
    height:100%;
    object-fit:cover;
}

.review_card {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.review_text {
    color: #F0F0E7;
}

.review_people {
    display: flex;
    flex-direction: column;
    gap: 7px;
    color: #F0F0E7;
}

.review_name {
    font-family: 'Unbounded', sans-serif;
    font-weight: 700;
    font-size: 14px;
    background-color: #5468FF;
    border-radius: 6px;
    padding: 1px 10px;
    width: fit-content;
}

/*КОНТАКТЫ*/
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 1400px;
    padding: 60px 100px 60px 100px;
}

.frame_contact {
    position: relative;
    width: 100%;
    max-width: 1400px;
}

.contact_full {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    background-color: #F0F0E7;
    margin: 0 auto;
    width: 100%;
    max-width: 1240px;
    padding: 102px 76px 187px 76px;
    border-radius: 37px;
}

.contact_text {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
}

.contact_tg {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
}

.contact_tg img {
    width: 78px;
    height: 78px;
}

/*ПОДВАЛ ХЫЫЫ*/
.footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    max-width: 1240px;
    padding: 12px 100px 50px 100px;
}

.footer_full {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    min-width: 1240px;
}

#ps {
    color: #868686;
}

html {
    scroll-behavior: smooth;
}