@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&family=Unbounded:wght@200..900&display=swap');


a {
    text-decoration: none;
    color: inherit; 
}

:root{
    background-color: #131316;/*цвет фона*/
    /*патерн фон*/
    background-image: radial-gradient(
        circle,                 
        #3B3B3B 1px,            
        transparent 1px         
    );
    background-size: 24px 24px;
    /**/
}
/* Кнопки */
.button_primary {
    background-color: #F0F0E7;
    color: #131316;
    padding: 14px 20px;
    font-family: 'Unbounded', sans-serif;
    font-size: 16px;
    font-weight: bold;
    border-radius: 65px;
    cursor: pointer;
    display: inline-block;
    transition: all 0.3s ease;
}

.button_primary:hover {
    background-color: #5468FF;
    color: #F0F0E7;
}

.button_secondary{
    color: #F0F0E7;
    padding: 14px 24px;
    font-family: 'Unbounded', sans-serif;
    font-size: 14px;
    border: 1px solid #3B3B3B;
    border-radius: 25px;
}

.button_secondary:hover {
    border: 1px solid #F0F0E7;
}

.button_mark {
    display: inline-block;  /* или width: fit-content */
    width: fit-content;
    background-color: #131316;
    color: #868686;
    padding: 10px 20px;
    font-family: 'Onest', sans-serif;
    font-size: 14px;
    border: 1px solid #868686;
    border-radius: 57px;
}

.Photo_Badge {
    position: absolute;
    top: 30px;
    left: 30px;
    background-color: #5468FF;
    color: #F0F0E7;
    padding: 5px 16px;
    font-family: 'Onest', sans-serif;
    font-size: 11px;
    border-radius: 8px;
    z-index: 2;
}

/*Тексты*/
p {
    margin: 0;
}

.H1 {
    color: #F0F0E7;
    font-family: 'Unbounded', sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 61px;
}

.H1_1 {
    background-color: #5468FF20;
    color: #5468FF;
    padding: 0px 10px;
    border: 1px solid #5468FF90;
    font-family: 'Unbounded', sans-serif;
    font-weight: 700;
    font-size: 56px;
}

.H2B {
    color: #F0F0E7;
    font-family: 'Unbounded', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
}

.H3B{
    font-family: 'Onest', sans-serif;
    font-weight: 700;
    font-size: 23px;
    line-height: 20px;
}

.H6SB {
    font-family: 'Unbounded', sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
}

.H7M {
    font-family: 'Unbounded', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
}

.T90EB {
    color: #5468FF;
    font-family: 'Unbounded', sans-serif;
    font-weight: 800;
    font-size: 90px;
    line-height: 112px;
}

.T28SB {
    color: #F0F0E7;
    font-family: 'Unbounded', sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 44px;
}

.T20L {
    color: #868686;
    font-family: 'Onest', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

.T14R {
    color: #F0F0E7;
    font-family: 'Unbounded', sans-serif;
    font-weight: 700;
    font-size: 14px;
}

.T14L {
    font-family: 'Onest', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

.T12R {
    color: #868686;
    font-family: 'Onest', sans-serif;
    font-weight: 400;
    font-size: 12px;
}

/*Меню*/
.Header {
    position: sticky;
    top: 0;
    z-index: 100;
    font-family: 'Unbounded';
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #131316;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 5px 5px 5px 20px;
    border: 1px solid #3B3B3B;
    border-radius: 30px;
}

#Logo {
    color: #F0F0E7;
    font-family: 'Unbounded', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

nav {
    display: flex;
    gap: 44px;
}

.Header_nav {
    color: #868686;
    font-family: 'Onest', sans-serif;
    font-weight: 500;
    font-size: 14px;
}

/*HERO*/
#Hero {
    display: flex;
    align-items: center;
    gap: 42px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 72px 100px;
    min-height: calc(100vh - 100px);
}

.Hero_photo {
    position: relative;
    flex: 1;
    overflow: hidden;
    border: 1px solid #3B3B3B;
    border-radius: 36px;
}

.Hero_photo img {
    width: 100%;                /* фото растягивается на всю ширину */
    height: auto;               /* высота автоматическая */
    display: block;             /* убираем отступ снизу */
    aspect-ratio: 4/5;          /* соотношение сторон 4:5 */
    object-fit: cover;          /* фото не сплющится */
    z-index: 1;
}

.HPhoto_overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 300px;           /* высота градиента */
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.7),  /* чёрный снизу (70% непрозрачности) */
        rgba(0, 0, 0, 0.3),  /* середина (30%) */
        transparent          /* сверху прозрачно */
    );
    z-index: 2;
}

.hero_content {
    display: flex;
    flex-direction: column;
    gap: 42px;
}

.HPhoto_text {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: white;
    z-index: 3;
    gap: 4px;
}

.hero_text {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.Hero_Title {
    position: relative;
}

.send_badge {
    position: absolute;
    top: 118px;                 /* по у */
    right: 232px;               /* по х */
    background: #6C63FF;
    color: white;
    padding: 5px 16px;
    border-radius: 8px;
    font-size: 11px;
    white-space: nowrap;        
    font-family: 'Onest', sans-serif;
}

.Hero_buttons {
    display: flex;
    gap: 30px; 
}

/*БЕГУЩАЯ СТРОКА*/
.marquee{
    width: 100%;
    overflow: hidden;
    background-color: #5468FF;
    padding: 36px 28px;
}

.marquee_line{
    display: inline-flex;
    white-space: nowrap;
    animation: scroll 25s linear infinite;
}

.marquee_line:hover {
    animation-play-state: paused;
}

.TEXTmarquee_item{
    flex-shrink: 0;
    padding: 0 0px 0px 112px;
    color: #F0F0E7;
    font-family: 'Unbounded', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

@keyframes scroll {
    0% {
        transform: translateX(0); /* Начинаем с исходной позиции */
    }
    100% {
        /* Сдвигаем ленту ровно на 50% её ширины. 
           Поскольку вторая половина ленты — точная копия первой, 
           в этот момент она встанет ровно на место первой, и скачок будет незаметен. */
        transform: translateX(-50%); 
    }
}

/*УСЛУГИ*/
.services {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    max-width: 1240px;
    padding: 120px 100px 60px 100px;
    gap: 20px;
}

.services_text_content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.services_text{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.services_card {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.White_card {
    display: flex;
    flex-direction: column;
    background-color: #F0F0E7;
    padding: 50px 50px;
    border-radius: 51px;
    gap: 28px;
}

.Photo_site{
    width: 100%;                /* фото растягивается на всю ширину */
    height: 296px;               
    display: block;             /* убираем отступ снизу */
    aspect-ratio: 4/5;          /* соотношение сторон 4:5 */
    object-fit: cover;
}

.services_site{
    color: #131316;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.services_three {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.services_two {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.services_brending {
    display: flex;
    flex-direction: column;
    
    background-color: #131316;
    color: #F0F0E7;
    padding: 120px 50px 50px 50px;
    border: 1px solid #3B3B3B;
    border-radius: 50px;
    gap: 5px;
}

.services_UIUX {
    display: flex;
    flex-direction: column;
    background-color: #F0F0E7;
    color: #131316;
    padding: 120px 50px 50px 50px;
    border-radius: 50px;
    gap: 5px;
}

.services_selling_materials {
    display: flex;
    flex-direction: column;
    background-color: #1E1E22;
    color: #F0F0E7;
    padding: 120px 320px 50px 50px;
    border-radius: 50px;
    gap: 5px;
}

/*ПОМОГИТЕ*/
.help {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    max-width: 1240px;
    padding: 60px 100px 60px 100px;
}

.help_container {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.help_name_text_content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.help_text_content {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.help_text_right {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-end;
}

.help_text_left {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.help_cards {
    display: flex;
    flex-direction: row;
    gap: 95px;
}

.help_card {
    display: flex;
    flex-direction: column;
    background-color: #F0F0E7;
    padding: 30px 30px 60px 30px;
    border-radius: 16px;
    gap: 10px;
}

.line{
    height: 1px;
    background-color: #131316;
}

.help_cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
}

.help_sta_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.help_sta_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/*КЕЙСЫ*/ /**/
.portfolio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    max-width: 1240px;
    padding: 60px 100px 60px 100px;
}

.portfolio_header {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.portfolio_header_text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 106px;
}