@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&family=Unbounded:wght@200..900&display=swap');
a {
    text-decoration: none;
    color: inherit; 
}

:root{
    background-color: #131316;

}
/* Кнопки */
.button_primary {
    background-color: #F0F0E7;
    color: #131316;
    padding: 14px 20px;
    font-family: 'Unbounded', sans-serif;
    font-size: 16px;
    font-weight: bold;
    border-radius: 65px;
    cursor: pointer;
    display: inline-block;
    transition: all 0.3s ease;
}

.button_primary:hover {
    background-color: #5468FF;
    color: #F0F0E7;
}

.button_secondary{
    color: #F0F0E7;
    padding: 14px 24px;
    font-family: 'Unbounded', sans-serif;
    font-size: 14px;
    border: 1px solid #3B3B3B;
    border-radius: 25px;
}

.button_secondary:hover {
    border: #F0F0E7;
}

.button_mark {
    background-color: #131316;
    color: #868686;
    padding: 10px 20px;
    font-family: 'Onest', sans-serif;
    font-size: 14px;
    border: 1px solid #868686;
    border-radius: 57px;
}

/*Тексты*/
.H1 {
    color: #F0F0E7;
    font-family: 'Unbounded', sans-serif;
    font-weight: 700;
    font-size: 56px;
}

.T14R {
    color: #F0F0E7;
    font-family: 'Unbounded', sans-serif;
    font-weight: 700;
    font-size: 14px;
}

.T12R {
    color: #868686;
    font-family: 'Onest', sans-serif;
    font-weight: 400;
    font-size: 12px;
}

/*Меню*/
.Header {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #131316;
    font-family: 'Unbounded';
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    padding: 5px 5px 5px 20px;
    border: 1px solid #3B3B3B;
    border-radius: 30px;
}

#Logo {
    color: #F0F0E7;
    font-family: 'Unbounded', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

nav {
    display: flex;
    gap: 44px;
}

.Header_nav {
    color: #868686;
    font-family: 'Onest', sans-serif;
    font-weight: 500;
    font-size: 14px;
}

/*Hero*/
#Hero {
    display: flex;
    align-items: center;
    gap: 42px;
    max-width: 1240px;
    margin: 0 auto;
    padding: 72px 100px;
}

.Hero_photo {
    position: relative;
    flex: 1;
    overflow: hidden;
}

.Hero_photo img {
    width: 100%;                /* фото растягивается на всю ширину */
    height: auto;               /* высота автоматическая */
    display: block;             /* убираем отступ снизу */
}

.Photo_overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 150px;              
    background: linear-gradient(
        to top,
        rgba(0,0,0,0.6),
        transparent
    );
}